.Hero1Container{
    height: auto;
    width: 100%;
    margin: 0 auto;
}
.HeroCaption{
    display: flex;
    flex-direction: column;
    gap: 2em
}
.HeroCaption h3{
    font-size: 3em;
    color: #e3e3e3;
    margin-left: -10em;
    margin-bottom: 0em;
    font-variant: small-caps;
}.HeroCaption h3{
    font-size: 3em;
    color: #e3e3e3;
    margin-left: 0em;
    margin-bottom: 0em;
}
.imgHero1{
    object-fit: contain;
    object-position: center;
    margin: 0 auto;
    width: 100%;
}
.hero3{
    position: absolute;
    top: 250px;
    margin-left: 40%;
}

@media (max-width: 1200px ){
    .Hero1Container{
        height: 68vh
    }
    .hero3{
        top: 200px;
        margin-left: 43%;
    }
}
@media (max-width: 1050px ){
    .Hero1Container{
        height: 60vh
    }
    .hero3{
        top: 130px;
    }
    
}
@media (max-width: 720px ){
    .Hero1Container{
        height: 40vh
    }
    .slide .carousel-control-prev,.slide .carousel-control-next{
        display: none;
    }
    .hero3{
        top: 80px;
    }
}
@media screen and (max-width: 550px) {
    .Hero1Container{
        height: 23vh
    }
    
    
}

