footer{
    padding: 1em 0;
    margin-top: 5em;
}
.footer1{
    height: auto;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-bottom: solid 1.5px #000000;
    border-top: solid 1.5px #000000;
    padding: 1.5em 0;
    gap: 3em;
    
}.footer1 .footerLinks {
    display: flex;
    flex-direction: row;
    gap: 4em;
    color: #000;
}.footer1 .footerLinks a{
    color: #000;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
}.footer1 .footerLinks a:hover{
    color: #db0000;
    scale: 1.05;
    transition: .3s;
}
.logoMap{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10em;
}.mapa{
    display: flex;
    flex-direction: column;

}.mapa h5{
    font-size: 1em;
    color: #000;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.footer2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3em;
    padding: 2em 0;
    color: #000;
    
}
footer h5{
    display: flex;
    justify-content: center;
    font-size: .8em;
    padding-bottom: 1em;
    color: #000000a7;
}
.footer2 svg{
    width: 30px;
    height: 30px;
    color: #000;
    cursor: pointer;
}.footer2 svg:hover{
    scale: 1.1;
    transition: .3s;
    color: #db0000;
}
.light{
    height: 130px;

}


@media (max-width: 1200px ){
    .footer1{
        height: auto;
        border-top: solid 1.5px #000000;
        gap: 1em;
        
    }
    .footer1 .footerLinks {
        flex-direction: column;
        align-items: center;
        gap: 1em;
    }
    .footer1 .logoMap{
        flex-direction: column;
        gap: 1em;
    }
    .footer2{
        gap: 1em;
        
    } 
    footer h5{
        font-size: .5em;
    }
}